@import url("../../App.css");

.Registro-Container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-image: url("/src/images/chicauniversitariaquetrabajacomputadoraportatildespueslecciones-1@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.header-Registro {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: white;
  position: sticky;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-Registro > img {
  display: flex;
  position: relative;
  left: -40%;
  align-items: center;
  justify-content: center;
  top: -10px;
}

.login-item {
  width: 500px;
  height: 5px;
}

.logo-1 {
  z-index: 2;
  position: absolute;
  object-fit: cover;
  padding-top: 30px;
  padding-left: 20px;
}

.registro-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
  width: 300px;
  text-align: center;
  margin-top: 60px; 
  margin-left: 100px; 
  position: relative;
  display: flex;
  left: -30%;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  width: 615px;
  height: 820px;
  background-image: url("src/images/fondo-login.png");
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.title-Registro {
  justify-content: center;
  align-items: center;
  color: #056061;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 10px;
}

.title-Registro1 {
  justify-content: center;
  align-items: center;
  color: #056061;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 10px;
  }

.subtitle-Registro {
  display: flex;
  align-items: center;
  color: black;
  text-align: center;
  font-size: 19px;
  font-family: "Montserrat Alternates";
  padding-top: 20px;
  padding-bottom: 20px;
}

.first,
.last,
.document,
.birth_date,
.phone,
.email,
.pass {
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 10px;
}

.first img {
  position: absolute;
  height: 60.5px;
  left: 2px;
  top: 2.2px;
  background-color: var(--verde-oscuro);
  border-radius: 5px;
  padding: 10px;
}

.last img {
  position: absolute;
  height: 60.5px;
  left: 2px;
  top: 2.2px;
  background-color: var(--verde-oscuro);
  border-radius: 5px;
  padding: 10px;
}

.document img {
  position: absolute;
  height: 60.5px;
  left: 2px;
  top: 2.2px;
  background-color: var(--verde-oscuro);
  border-radius: 5px;
  padding: 10px;
  }
  
  .birth_date img {
    position: absolute;
    height: 60.5px;
    left: 2px;
    top: 2.2px;
    background-color: var(--verde-oscuro);
    border-radius: 5px;
    padding: 10px;
  }

  .phone img {
    position: absolute;
  height: 60.5px;
  left: 2px;
  top: 2.2px;
  background-color: var(--verde-oscuro);
  border-radius: 5px;
  padding: 10px;
  }
  
  .email img {
    position: absolute;
    height: 60.5px;
    left: 2px;
    top: 2.2px;
    background-color: var(--verde-oscuro);
    border-radius: 5px;
    padding: 10px;
    }
    
    .pass img {
      position: absolute;
  height: 60.5px;
  left: 2px;
  top: 2.2px;
  background-color: var(--verde-oscuro);
  border-radius: 5px;
  padding: 10px;
    }

.first-cuadro,
.last-cuadro,
.document-cuadro,
.birth-cuadro,
.phone-cuadro,
.email-cuadro,
.pass-cuadro {
  display: flex;
  border: 2px solid #49beb6;
  padding-left: 70px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 65px;
  width: 480px;
  font-weight: bold;
}

input[placeholder="Nombre"] {
  color: black;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  }

input[placeholder="Apellido"] {
  color: black;
  font-family: "Montserrat Alternates";
  font-size: 16px;
}

input[placeholder="Cedula"] {
  color: black;
  font-family: "Montserrat Alternates";
  font-size: 16px;
 }

 input[placeholder="Fecha de nacimiento"] {
  color: black;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  }
  
  input[placeholder="Telefono"] {
    color: black;
    font-family: "Montserrat Alternates";
    font-size: 16px;
  }

input[placeholder="Correo"] {
  color: black;
  font-family: "Montserrat Alternates";
  font-size: 16px;
}

input[placeholder="Contraseña"] {
  color: black;
  font-family: "Montserrat Alternates";
  font-size: 16px;
}

@media (max-width: 768px) {
  .container-Registro {
    max-width: 600px;
    height: 300px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 54px;
  background-color: #056061;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat Alternates";
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}


.button:hover {
  background-color: #024f4f;
}

.registro-item {
  padding-left: 70px;
  padding-right: 45px;
  width: 600px;
  height: 5px;
}

.link{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 20px;
}
